body {
  font-family: sans-serif;
  background: #fff3f3;
  color: #a30000;
  text-align: center;
  margin-top: 100px;
}
.container {
  border: 2px solid #ff4d4d;
  padding: 20px;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
}
